{{- if not .Values.secrets.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mpak.fullname" . }}
  namespace: {{ include "mpak.namespace" . }}
  labels:
    {{- include "mpak.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.databaseUrl }}
  database-url: {{ .Values.secrets.databaseUrl | b64enc | quote }}
  {{- else }}
  database-url: {{ "" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.clerkSecretKey }}
  clerk-secret-key: {{ .Values.secrets.clerkSecretKey | b64enc | quote }}
  {{- else }}
  clerk-secret-key: {{ "" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.clerkPublishableKey }}
  clerk-publishable-key: {{ .Values.secrets.clerkPublishableKey | b64enc | quote }}
  {{- else }}
  clerk-publishable-key: {{ "" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.s3Bucket }}
  s3-bucket: {{ .Values.secrets.s3Bucket | b64enc | quote }}
  {{- else }}
  s3-bucket: {{ "" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.s3AccessKeyId }}
  s3-access-key-id: {{ .Values.secrets.s3AccessKeyId | b64enc | quote }}
  {{- else }}
  s3-access-key-id: {{ "" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.s3SecretAccessKey }}
  s3-secret-access-key: {{ .Values.secrets.s3SecretAccessKey | b64enc | quote }}
  {{- else }}
  s3-secret-access-key: {{ "" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.cloudfrontDomain }}
  cloudfront-domain: {{ .Values.secrets.cloudfrontDomain | b64enc | quote }}
  {{- else }}
  cloudfront-domain: {{ "" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.cloudfrontKeyPairId }}
  cloudfront-key-pair-id: {{ .Values.secrets.cloudfrontKeyPairId | b64enc | quote }}
  {{- else }}
  cloudfront-key-pair-id: {{ "" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.cloudfrontPrivateKeyBase64 }}
  cloudfront-private-key-base64: {{ .Values.secrets.cloudfrontPrivateKeyBase64 | b64enc | quote }}
  {{- else }}
  cloudfront-private-key-base64: {{ "" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.scannerCallbackSecret }}
  scanner-callback-secret: {{ .Values.secrets.scannerCallbackSecret | b64enc | quote }}
  {{- else }}
  scanner-callback-secret: {{ "" | b64enc | quote }}
  {{- end }}
{{- end }}
