apiVersion: v1
kind: Service
metadata:
  name: {{ include "mpak.fullname" . }}-web
  namespace: {{ include "mpak.namespace" . }}
  labels:
    {{- include "mpak.web.labels" . | nindent 4 }}
spec:
  type: {{ .Values.web.service.type }}
  ports:
    - port: {{ .Values.web.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "mpak.web.selectorLabels" . | nindent 4 }}
